<!-- Search field -->
<div class="small-8 large-10 columns ">
  <%= form_tag(search_books_path, method: :get) do %>
    <%= label_tag(:query, "Search for:") %>
    <%= text_field_tag(:query) %>
    <%= label_tag(:search, "Search on:") %><br />
    <%= radio_button_tag('search', 'title', true) %>
    <%= label_tag(:search, "Title", value: 'title') %>
    <%= radio_button_tag('search', 'content') %>
    <%= label_tag(:search, "Content", value: 'content') %>
    <%= radio_button_tag('search', 'title_and_content') %>
    <%= label_tag(:search, "Title and content", value: 'title_and_content') %>
    <%= radio_button_tag('search', 'metaphones') %>
    <%= label_tag(:search, "Metaphones", value: 'metaphones') %>
    <%= radio_button_tag('search', 'stems') %>
    <%= label_tag(:search, "Stems", value: 'stems') %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
