<div class="results">
    <div class="large-12 columns ">
      <div class="row">
        <div class="large-9 columns">
          <h2 class="search-query search-results-count">
            <%= pluralize(@result_set.size, 'result') + " for \"#{@result_set.query}\""%>
          </h2>
          <% if (!@result_set.query.correct? && @result_set.query.corrected != @result_set.query.to_s) %>
            <p>Did you mean <em><span id=search_suggestion>
              <%= link_to(@result_set.query.corrected, search_books_path(query: @result_set.query.corrected, search: @result_set.scope)) %>
            </span></em>?</p>
        <% end %>
          <dl id="query-expanded" class="">
            <dt>Search scope</dt>
            <dd><%= @result_set.scope.gsub(/_/,' ').titlecase %></dd>
            <dt>Stopwords removed</dt>
            <dd><%= @result_set.query.keywords %></dd>
            <dt>Metaphone conversion</dt>
            <dd><%= @result_set.query.metaphones %></dd>
            <dt>Stem conversion</dt>
            <dd><%= @result_set.query.stems %></dd>
          </dl>
        </div>
      </div>
      <%= paginate @result_set.results %>
      <div class="search-results">
        <% @result_set.results.each do |book| %>
        <div class="row ">
          <div class="large-2 columns">
            <a href="#"> <span> </span><img src="http://placehold.it/150x200&text=book cover" alt="book cover" class=" thumbnail"></a>
          </div>
          <div class="large-10 columns">
            <div class="row">
              <div class=" large-9 columns">
                <h5 class="book-title"><%= book.title %></h5>
                <p><a href="#"> Info</a> | <a href="#">Buy this book</a></p>
              </div>
              <div class=" large-3 columns">
              <%= link_to  book_path(book), class: "button expand medium" do %>
                <span>Open Book</span>
              <% end %>
              </div>
              <div class="row">
                <div class=" large-12 columns">
                  <ul class="large-block-grid-2">
                    <div class="large-9 columns">
                      <p class="book-content">
                      <%= book.content[0..1000] %>
                      </p>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
      </div>
      <%= paginate @result_set.results %>
    </div>
  </div>
